// This brings our colours partial into scope (into the same namespace) as our reset code. This gives us access to the helper function and colour variables we previously set up.
@use 'colours' as *;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: c(color-bg);
    color: c(color-text);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5;
    min-height: 100vh;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0;
}

article > * + * {
    margin-top: 1em;
}