:root {
    --heading: #111827;
    --paragraph: #374151;
    --border: #d1d5db;
}

* {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

header, 
footer {
    padding: 1rem;

    p {
        margin: 1rem auto 2rem auto;
        max-width: 75ch;
    }
}

header {
    border-bottom: 1px solid var(--border);
    margin-bottom: 2rem;
}

main {
    flex-grow: 1;
}

footer {
    border-top: 1px solid var(--border);
    margin-top: 2rem;
}

/* Typographic Styles */

h1, h2 {
    color: var(--heading);
    font-weight: 400;
}

h1 {
    font-size: 3.625rem;
    line-height: 1.2;
    margin: 1rem auto;
}

h2 {
    font-size: 2.975rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
}

p, li {
    color: var(--paragraph);
    margin-bottom: 1rem;
}

a {
    color: #1976d2;

    &:visited {
        color: #01579b;
    }

    &:hover, 
    &:active {
        color: #03a9f4;
    }
}