/* Variable Definitions */
:root {
    --container-max: 68rem;
    --gutter: 1rem;
    --border: rgb(215, 211, 209);
    --text: rgb(12, 10, 9);
    --muted: rgb(41, 37, 36);
    --bg: rgb(245, 245, 244);
    --rose: rgb(199, 0, 54);
}

/* Soft Reset */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
}

/* Utility Classes */
.container {
    margin: auto;
    max-width: var(--container-max);
    padding: var(--gutter);
}

.flex {
    align-items: center;
    display: flex;
}

.icon {
    fill: currentColor;
    width: 2rem;
}

.visually-hidden {
    height: 0px;
    left: -9999px;
    overflow: hidden;
    position: absolute;
    top: -9999px;
    width: 0px;
}

/* Layout Styles */
a {
    align-items: center;
    color: var(--muted);
    display: flex;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

header {
    border-bottom: 1px solid var(--border);

    nav {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}