:root {
    --black: #13171B;
    --white: #efefef;
    --grey: #606971;
    --accent-burnt: #BD6507;
    --accent-ochre: #C89A2B;
}

body {
    background-color: var(--white);
    color: var(--black);
}

/* Typographic Styles */

h1, h2, h3 {
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1.25rem;
}

h1 {
    font-size: 3.815rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

p, li {
    margin: 1.25rem 0;
}

a {
    color: var(--accent-burnt);
    font-size: 1.25rem;
}

/* CSS Grid Columns */

.columns {
    section {
        display: grid;
        gap: 1rem;
    }

    .col {
        background-color: white;
        border: 1px solid var(--grey);
        border-radius: 4px;
        padding: 0 1rem;
    }
}