:root {
    --black: #13171B;
    --white: #efefef;
    --grey: #606971;
    --accent-burnt: #BD6507;
    --accent-ochre: #C89A2B;
}

body {
    background-color: var(--white);
    color: var(--black);
}

/* Typographic Styles */

h1,
h2,
h3 {
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1.25rem;
}

h1 {
    font-size: 3.815rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

p,
li {
    margin: 1.25rem 0;
}

a {
    color: var(--accent-burnt);
    font-size: 1.25rem;
}

/* CSS Grid Columns */

.columns {
    padding: 1rem;

    section {
        display: grid;
        gap: 1rem;
        /* grid-template-columns: repeat(3, calc((100% / 3) - (2rem / 3))); */
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr;
        margin: auto;
        max-width: 1280px;
    }

    .col {
        background-color: white;
        border: 1px solid var(--grey);
        border-radius: 4px;
        padding: 0 1rem;
    }

    .col-img {
        grid-column: 1 / 3;
        overflow: hidden;
        padding: 0;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    h2 {
        grid-column: 1 / 4;
    }
}

/* CSS Grid with a 12-Column System */

.twelve-columns {
    padding: 1rem;

    h1,
    h2 {
        margin: 0;
    }

    header,
    section,
    footer {
        background-color: white;
        border: 1px solid var(--grey);
        border-radius: 4px;
        padding: 1rem;
    }

    .grid-container {
        display: grid;
        gap: 1rem;
        grid-template-rows: auto 1fr 1fr auto;
        height: calc(100vh - 2rem);
        margin: auto;
        max-width: 1280px;
    }
}

@media (min-width: 720px) {
    .twelve-columns .grid-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 1fr auto;

        header,
        footer {
            /* grid-column: 1 / 13; */
            /* grid-column: 1 / -1; */
            grid-column: 1 / span 12;
        }

        section:first-of-type {
            /* grid-column: 1 / 9; */
            grid-column: 1 / span 8;
        }

        section:last-of-type {
            /* grid-column: 9 / 13; */
            /* grid-column: 9 / -1; */
            grid-column: 9 / span 4;
        }
    }
}

/* CSS Grid Page Layout (with Flexbox) */

.with-flex {
    .grid-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: 2fr 1fr;
        margin: auto;
        max-width: 1280px;
        padding: 1rem;
    }

    header,
    section,
    aside,
    footer {
        background-color: white;
        border: 1px solid var(--grey);
        border-radius: 4px;
        grid-column: 1 / -1;
        padding: 1rem;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        h2 {
            width: 100%;
        }

        .col {
            border: 1px solid var(--accent-burnt);
            border-radius: 4px;
            flex: 1 1 250px;
            padding: 1rem;
        }
    }

    @media screen and (min-width: 1080px) {
        section {
            grid-column: 1 / 2;
        }

        aside {
            grid-column: 2 / 3;
        }
    }
}

/* Grid Areas */
.grid-areas {
    padding: 1rem;

    h1 {
        text-align: center;
    }

    .grid-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: 2fr 8fr 2fr;
        grid-template-rows: auto 150px 100px;
        grid-template-areas: 
            "main-content main-content main-content"
            "sidebar sidebar sidebar-two"
            "footer footer footer";
        margin: auto;
        max-width: 1280px;

        aside, section, footer {
            background-color: white;
            border: 1px solid var(--grey);
            border-radius: 4px;
            padding: 1rem;
        }

        h2 {
            font-size: 2rem;
        }

        .sidebar {
            grid-area: sidebar;
        }

        section {
            grid-area: main-content;
        }

        .sidebar-two {
            grid-area: sidebar-two;
        }

        footer {
            grid-area: footer;
        }
    }

    @media (min-width: 1080px) {
        .grid-container {
            grid-template-areas: 
            "sidebar main-content sidebar-two"
            "sidebar main-content sidebar-two"
            "footer footer footer";
        }
    }
}