:root {
    --primary: #059669;
    --primary-hover: #065f46;
    --secondary: #d1fae5;
    --secondary-hover: #a7f3d0;
    --text: #022c22;
    --shadow-sm: 0 2px 3px 0 rgb(0 0 0 / 0.1);
}

/* Universal Styles & Soft Reset */
* {
    box-sizing: border-box;
}

body {
    color: var(--text);
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

/* Typographic Styles */
h1, h2 {
    font-weight: 400;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
}

button,
li,
a {
    transition: 0.3s ease all;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

/* Utility Classes */
.visually-hidden {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

/* Mobile Layout Styles */

svg {
    margin: auto;
    width: 2rem;
}

/* Header */
header {
    background-color: var(--primary);
    box-shadow: var(--shadow-sm);
    padding: 1rem;
    position: relative;
    z-index: 999;

    section,
    .logo-container a {
        display: flex;
        gap: 1rem;
    }

    section {
        justify-content: space-between;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    li a {
        border-top: 1px solid var(--primary-hover);
        display: block;
        font-size: 1.125rem;
        min-height: 11mm;
        padding: 3mm 1rem;

        &:hover {
            background-color: var(--primary-hover);
        }
    }

    form {
        border-top: 1px solid var(--primary-hover);
        display: flex;
        padding: 2rem 1rem;
        width: 100%;

        input {
            border: 1px solid var(--primary-hover);
            font-size: 1rem;
            min-height: 12mm;
            padding: 0.5rem;

            &[type="search"] {
                border-radius: 8px 0 0 8px;
                flex: 2 1 80%;
            }

            &[type="submit"] {
                background-color: var(--primary-hover);
                border-radius: 0 8px 8px 0;
                color: #fff;
                cursor: pointer;
                flex: 1 1 14mm;

                &:hover,
                &:active {
                    background-color: #064e3b;
                }
            }
        }
    }

    button {
        background-color: var(--primary);
        border: 1px solid var(--primary-hover);
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        min-width: 14mm;
        padding: 0.5rem 1rem;
        text-align: center;

        &:hover {
            background-color: var(--primary-hover);
        }

        svg {
            display: block;
        }
    }
}

/* Hamburger Menu */
header nav {
    background-color: var(--primary);
    left: 0;
    position: absolute;
    top: -100vh;
    transition: 0.3s ease top;
    width: 100%;
    z-index: 99;

    &.show-menu {
        top: 6.25rem;
    }

    &:not(.show-menu) {
        top: -100vh;
    }
}

/* Main */
main {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;

    section {
        padding: 2rem 1.25rem;

        h2 {
            line-height: 1.2;
            margin-bottom: 0.75rem;
        }

        .lead {
            color: #4b5563;
            font-size: 1.125rem;
            margin-bottom: 1.5rem;
        }

        .btn {
            box-shadow: var(--shadow-sm);
            border-radius: 8px;
            display: inline-block;
            padding: 0.75rem 1.25rem;
            text-decoration: none;
            min-width: 10rem;

            &+ .btn {
                margin-left: 0.5rem;
            }

            &.primary {
                background-color: var(--primary);
                border: 1px solid var(--primary);
                color: #fff;

                &:hover {
                    background-color: var(--primary-hover);
                }
            }

            &.secondary {
                background-color: var(--secondary);
                border: 1px solid var(--secondary-hover);
                color: var(--text);

                &:hover {
                    background-color: var(--secondary-hover);
                }
            }
        }
    }
}

/* Footer */
footer {
    background-color: var(--primary);
    border-top: 1px solid var(--primary-hover);
    text-transform: lowercase;

    nav ul {
        align-items: center;
        display: flex;
        justify-content: space-between;

        li {
            border: 1px solid var(--primary-hover);
            flex: 1;

            &:hover {
                background-color: var(--primary-hover);
            }

            a, span {
                color: #fff;
                display: block;
                font-size: 0.875rem;
                text-align: center;
                text-decoration: none;
            }

            a {
                min-height: 14mm;
                padding: 0.75rem 0.5rem;

                span svg {
                    width: 1.5rem;
                }
            }
        }
    }
}